@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
}

img {
  max-width: 100%;
  display: block;
}

.transparent-bg{
  background-color: rgb(255, 255, 255, 0.8)
}

.screen{
  height: calc(100vh - 30px);
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav a:hover::after {
  content: "";
  background-color: #ffff03;
  width: 35px;
  height: 2px;
}

nav a.active::after {
  content: "";
  background-color: #ffff03;
  width: 35px;
  height: 2px;
}

.inactive .active::after {
  content: "";
  background-color: transparent;
  width: 0;
  height: 0;
}

.bg {
  background: url("./assets/homepage-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 6rem);
  animation: change 30s infinite ease-in-out;
}

@keyframes change{
  0%
  {
      background-image: url("./assets/homepage-bg.png");
  }
  25%
  {
      background-image: url("./assets/bg-1.jpg");
  }
  50%
  {
      background-image: url("./assets/bg-2.jpeg");
  }
  75%
  {
      background-image: url("./assets/bg-3.jpeg");
  }
  100%
  {
      background-image: url("./assets/about-bg.png");
  }
}

.about-bg{
  background: url("./assets/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.height{
  max-height: calc(100vh - 4rem);
  min-height: 80vh;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
  scrollbar-width: none;
}

.after{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.after::after{
  content: "";
  background-color: #ffff03;
  width: 70px;
  height: 3px;
}

.wrap{
  text-wrap: wrap;
}

.contact-bg{
  background: url(./assets/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.input-border{
  border-bottom: 2px solid white;
}

.contact-input-border{
  border-bottom: 2px solid black;
}

.packages-input-border{
  border-bottom: 1px solid #595959;
}

.packages-border{
  border-right: 2px solid #9908BD;
  color: #9908BD ;
}


@media screen and (min-width:1024px) {
  .nav{
    width: calc(100% - 25rem);
  }
  
}

.before{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.before::before{
  content: "";
  background-color: #9908BD;
  width: 60px;
  height: 3px;
}

.loading{
  @apply border-gray-300 rounded-full border-4 ease-linear h-10 w-10;
  border-top-color: #3b34a0;
  animation: spinner 1.2s linear infinite ;
}

@keyframes spinner{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.canada-bg{
  background: url(./assets/canada-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.usa-bg{
  background: url(./assets/usa-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.uk-bg{
  background: url(./assets/uk-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.australia-bg{
  background: url(./assets/australia-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}