@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav a:hover::after {
  content: "";
  background-color: #ffff03;
  width: 35px;
  height: 2px;
}

nav a.active::after {
  content: "";
  background-color: #ffff03;
  width: 35px;
  height: 2px;
}

.bg {
  background: url("./assets/homepage-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-bg{
  background: url("./assets/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
  scrollbar-width: none;
}

.after{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.after::after{
  content: "";
  background-color: #ffff03;
  width: 70px;
  height: 3px;
}

.wrap{
  text-wrap: wrap;
}

.contact-bg{
  background: url(./assets/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.input-border{
  border-bottom: 2px solid white;
}


@media screen and (min-width:1024px) {
  .nav{
    width: calc(100% - 25rem);
  }
  
}
